body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: 5% auto;
}


.btn {
  margin: 0.5%;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
}

.btn:hover{
  cursor: pointer;
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  
  border-radius:20px 320px 20px 20px;
}

.green {
  background-color: green;
  
  border-radius:320px 20px 20px 20px;
}

.blue {
  background-color: blue;
  border-radius:20px 20px 320px 20px;
}

.yellow {
  background-color: yellow;
  border-radius:20px 20px 20px 320px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media(max-width: 1150px){
  .btn {
    margin: 0.5%;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
  }
  .container{
    margin: 20% auto;
  }
}

@media(max-width: 750px) {
  .btn {
    margin: 0.5%;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
  }
  .container{
    margin: 25% auto;
  }
}

@media(max-width: 550px){
    .btn {
    margin: 0.5%;
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 5px solid black;
  }
  .container{
    margin: 30% auto;
  }
  #level-title{
    font-size: 2rem
  }
}